/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	background: #ADADD7;
}
.login{
	z-index: 1;
	align-content: center;
	width: 320px;
	max-height: 340px;
	border-radius: 16px;
	position: relative;
	box-shadow: 0 0 128px 0 aliceblue,
				0 032px 64px -48px #8c8cdf;
}
.login .header{
	height: 60px;
	line-height: 60px;
	font-size: 25px;
	color: white;
	border-bottom: 2px solid lightgray;
	margin-bottom: 2px;
	align-items: center;
}
.login .login-form{
	height: calc(100vh - 60px);
	transition: all 0.5s ease;
}
.login-form .input{
	height: 45px;
	width: 90%;
	padding: 0;
	margin-top: 1em;
	background: whitesmoke;
	border-bottom: 2px solid #8f8cdf;
}
.register{
	z-index: 1;
	align-content: center;
	align-items: center;
	width: 320px;
	height: 500px;
	border-radius: 16px;
	position: relative;
	box-shadow: 0 0 128px 0 aliceblue,
				0 032px 64px -48px #8c8cdf;
}
.register .header{
	height: 60px;
	line-height: 60px;
	border-bottom: 2px solid lightgray;
	font-size: 25px;
	color: white;
	margin-bottom: 2px;
}
.register .register-form{
	height: calc(100vh - 60px);
	transition: all 0.5s ease;
	align-items: center;
}
.login-form .error-txt{
	color: #721c24;
	background: #D96892;
	padding: 8px 10px;
	text-align: center;
	border-radius: 5px;
	width: 90%;
	margin-bottom: 10px;
	display: none;
}
.register-form .error-txt{
	color: #721c24;
	background: #D96892;
	padding: 8px 10px;
	text-align: center;
	border-radius: 5px;
	width: 90%;
	margin-bottom: 10px;
	display: none;
}
.register-form .input{
	height: 47px;
	width: 90%;
	padding: 0;
	margin-top: 1em;
	background: whitesmoke;
	border-bottom: 2px solid #8f8cdf;
}
.input input{
	width: 85%;
	height: 45px;
	border: none;
	background: transparent;
	padding: 0 0.5em;
	float: left;
	outline: none;
}
.input i{
	width: calc(100% - 85%);
	float: left;
	font-size: 20px;
	line-height: 45px;
	color: #BDBCD1;
}
.input button{
	width: 85%;
	float: left;
	height: 40px;
	color: aliceblue;
	border: none;
	background: #8f8cdf;
}
.login-form a{
	color: #8f8cdf;
	line-height: 45px;
}
.register-form a{
	line-height: 45px;
}

/*Users area styles*/

.wrapper{
	z-index: 1;
	align-content: center;
	width: 620px;
	max-height: 99vh;
	padding: 15px 25px;
	box-shadow: 0 0 128px 0 aliceblue,
				0 032px 64px -48px #8c8cdf;
	position: relative;
	border-radius: 16px;
	overflow-y: auto;
}
.wrapper.for-chat{
	min-height: 95vh;
}
.wrapper::-webkit-scrollbar{
	width: 0px;
}
.users{
}
.users header, .users-list a{
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	justify-content: space-between;
	border-bottom: 1px solid #C9C9E5;
	text-decoration: none;
}
.wrapper img{
	object-fit: cover;
	border-radius: 50%;
}
:is(.users, .users-list) .content{
	display: flex;
	 slign-items: center;
}
.users header .content img{
	height: 50px;
	width: 50px;
}
:is(.users, .users-list) .detail{
	color: #000;
	margin-left: 15px;
}
:is(.users, .users-list) .detail span{
	font-size: 17px;
	font-weight: 500;
}
:is(.users, .users-list) .detail p{
	font-size: 13px;
	font-weight: 500;
}
.users header .logout{
	color: #fff;
	font-size: 15px;
	padding: 5px 15px;
	background: #333;
	border-radius: 5px;
	text-decoration: none;
}
.users .search{
	margin: 15px 0;
	display: flex;	
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.users .search .text{
	font-size: 18px;
}
.users .search input{
	position: absolute;
	height: 42px;
	width: calc(100% - 50px);
	border: 1px solid #ccc;
	padding: 0 13px;
	font-size: 15px;
	border-radius: 5px 0 0 5px;
	outline: none;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.users .search input.active{
	opacity: 1;
	pointer-events: auto;
}
.users .search button{
	width: 45px;
	height: 41px;
	border: none;
	outline: none;
	color: #fff;
	background:transparent;
	border-radius: 0 5px 5px 0;
	font-size: 17px;
	cursor: pointer;
	transition: all 0.2s ease;
}
.users .search button.active{
	color: #fff;
	background: #8f8cdf;
}
.users .search button.active i::before{
	content: "\f00d";
}
.users-list{
	max-height: 65vh;
	overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
	width: 0px;
}
.users-list a{
	padding-right: 10px;
	margin-bottom: 15px;
	page-break-after: 10px;
	font-weight: 400;
	border-bottom-color: #C9C9E5;
}
.users-list a:last-child{
	border: none;
	margin-bottom: 0px;
}
.users-list a .content img{
	height: 40px;
	width: 40px;
}
.users-list a .content p{
	color: #67676a;
}
.users-list a .status-dot{
	font-size: 12px;
	color: #468669;
}
/*we'll use this class name in php to display status*/
.users-list a .status-dot.offline{
	color: #67676a;
}

/*chat area styles*/
.wrapper .chat-area{
	height: 93vh;
}
.chat-area header{
	display: flex;
	align-items: center;
	padding: 18px 25px;
}
.chat-area header .back-icon{
	font-size: 18px;
	color: #333;
}
.chat-area header img{
	height: 45px;
	width: 45px;
	margin: 0 15px;
}
.chat-area header .detail{
	cursor: pointer;
}
.chat-area header span{
	font-size: 16px;
	font-weight: 700;
}
.chat-area header p{
	font-size: 13px;
	font-weight: 500;
}
.chat-box{
	overflow-y: auto;
	height: 70vh;
	background: #B0B0C7;
	padding: 5px 20px 5px 20px;
	box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), 
				inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat{
	margin: 8px 0;
}
.chat-box .chat p{
	word-wrap: break-word;
	padding: 8px 16px;
	box-shadow: 0 0 32px rgb(0 0 0 / 8%),
				0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
	display: flex;
}
.outgoing .details{
	margin-left: auto;
	max-width: calc(100% - 80px);
}
.outgoing .details p{
	font-size: 14px;
	background: #8c8cdf;
	color: #fff;
	border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
	display: flex;
	align-items: flex-end;
}
.chat-box .incoming img{
	height: 30px;
	width: 30px;
}
.incoming .details{
	margin-left: 10px;
	margin-right: auto;
	max-width: calc(100% - 70px);
}
.incoming .details p{
	font-size: 14px;
	background: #DFE0F1;
	color: #333;
	border-radius: 18px 18px 18px 0;
}
.chat-area .typing-area{
	bottom: 0;
	padding: 8px 20px;
	display: flex;
	justify-content: space-between;
}
.typing-area input{
	height: 45px;
	width: calc(100% - 58px);
	font-size: 15px;
	border: 1px solid #ccc;
	border-right: 0px;
	padding: 0 13px;
	border-radius: 5px 0 0 5px;
	outline: none;
}
.typing-area button{
	width: 55px;
	border: none;
	outline: none;
	background: #8f8cdf;
	color: #fff;
	font-size: 19px;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}
.typing-area .smile{
	background: #fff;
	color: #333;
	border: 0.1px solid #ccc;
	border-left: none;
	border-radius: 0px;
	width: 40px;
	height: 45px;
	font-size: 19px;
	cursor: pointer;
	text-align: center;
}
.typing-area .smile i{
	line-height: 45px;
}

.emojis::-webkit-scrollbar{
	width: 0;
}
.emoji .emojis{
	height: calc(100% - 27px);
	width: 100%;
	margin: 0 0 0 0;
	padding: 0;
	background: #fff;
	width: 100%;
	overflow-y: auto;
	cursor: pointer;
}
.emoji .emojis nav{
	width: 100%;
	padding: 0 10px;
	display: block;
}
.emoji .emojis nav span{
	width: 27px;
	line-height: 27px;
	padding: 0.2em 0;
	font-size: 20px;
	color: #8B7503;
}
.emoji .tabs{
	height: 27px;
	width: 100%;
	padding: 2px 10px;
	bottom: 0;
	left: 0;
	display: flex;
	position: absolute;
}
ul.tabs li{
	width: 45px;
	line-height: 27px;
	cursor: pointer;
	list-style:none;
	text-align: center;
}
ul.tabs li a{
	color: #ccc;
	font-size: 18px;
	text-decoration: none;
}
ul.tabls li:active{
	color: white;
}
.emojis{
	position: relative;
}
.emojis .all-emos{
	height: calc(100% - 30px);
	width: 100%;
	margin: 0;
	padding: 0.5em;
	background: whitesmoke;
	overflow-y: auto;
	transition: all 0.5s ease;
}
.all-emos::-webkit-scrollbar{
	width: 0;
}
.emojis label{
	line-height: 30px;
	display: flex;
}
.all-emos span{
	font-size: 23px;
	outline: #E8B555;
	transition: all 0.5s ease;
	cursor: pointer;
}
.emojis .pickers{
	height: 30px;
	width: 100%;
	bottom: 0;
	background: #8f8cdf;
	display: flex;
	align-items: center;
	position: absolute;
	cursor: pointer;
}
.pickers span{
	margin: 0 0 0 4%;
	font-size: 18px;
}


.profile header{
	display: flex;
	align-items: center;
	padding: 5px 25px;
}
.profile header .back-icon{
	font-size: 18px;
	color: #333;
}
.profile .detail{
	color: #000;
	margin-left: 15px;
}
.profile .detail span{
	font-size: 17px;
	font-weight: 500;
}

.myprofile .content{
	text-align: center;
}
.myprofile .content img{
	height: 95px;
	width: 95px;
	border: 2px solid #8f8cdf;
}
.myprofile .content span{
	color: #000;
	font-weight: 600;
}
:is(.settings, .story){
	align-items: center;
	padding: 10px 15px 5px 15px;
	justify-content: space-between;
}
:is(.settings, .story) .span{
	float: left;
	width: 100%;
	font-size: 17px;
	padding: 5px 0;
	cursor: pointer;
}
:is(.settings, .story) .span i{
	font-size: 18px;
	margin-right: 15px;
	color: #fff;
	line-height: 35px;
	text-align: center;
	height: 35px;
	width: 35px;
	background: #8f8cdf;
	border-radius: 50%;
}

.settings .p-update{
	float: left;
	align-items: center;
	width: 100%;
	padding: 0 0 30px 0;
	display: none;
	transition: all 0.5s ease;
}
.p-update form{
	display: flex;
	padding: 5px 0;
}
.p-update form .input1{
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 5px;
	border: .1px solid gray;
	outline: none;
	width: 100%;
}
.input{
	padding: 5px 0;
	border-radius: 5px;
	margin-right: 5px;
	border: 0px solid gray;
	outline: none;
	width: 100%;
	font-size: 15px;
}
.p-update form button{
	color: #fff;
	font-size: 15px;
	padding: 5px 10px;
	background: #6A84E9;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.story .s-content{
	display: flex;
	width: 100%;
	align-content: space-between;
	overflow-x: auto;
}
.story .st-content{
	display: block;
	width: 100%;
	align-content: space-between;
	overflow-y: auto;
}
:is(.s-content, .st-content):-webkit-scrollbar{
	width: 0;
}
.s-content :is(.add-story, .view-story){
	position: relative;
	border: 2px solid aliceblue;
	height: 100px;
	width: 80px;
	border-radius: 12px;
	overflow: hidden;
	margin-right: 5px;
}
.s-content :is(.add-story, .view-story) img{
	height: 100px;
	width: 80px;
	border-radius: 0;
}
.s-content :is(.add-story, .view-story) .icon{
	position: absolute;
	bottom: 5;
	right: -10;
	cursor: pointer;
}
:is(.add-story, .view-story) .icon i{
	font-size: 15px;
	margin-right: 15px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	height: 25px;
	width: 25px;
	background: #6A84E9;
	border-radius: 50%;
}
.st-content :is(.stadd-story, .stview-story){
	position: relative;
	border: 2px solid aliceblue;
	height: 172px;
	width: 142px;
	border-radius: 12px;
	overflow: hidden;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
.st-content :is(.stadd-story, .stview-story) img{
	height: 172px;
	width: 142px;
	border-radius: 0;
}
.st-content :is(.stadd-story, .stview-story) .name{
	position: absolute;
	bottom: 5;
	left: 5;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
}
.st-content :is(.stadd-story, .stview-story) .icon{
	position: absolute;
	bottom: 5;
	right: -10;
	cursor: pointer;
}
:is(.stadd-story, .stview-story) .icon i{
	font-size: 15px;
	margin-right: 15px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	height: 25px;
	width: 25px;
	background: #6A84E9;
	border-radius: 50%;
}
.settings .info{
	display: flex;
	padding: 0px 30px;
	font-weight: 500;
	font-size: 16px;
	align-content: space-between;
}
.settings .info .on-info{
	font-weight: 400;
	color: #3E3C3C;
}
.wrapper .story-display{
	display: flex;
	height: 80vh;
	border-radius: 15px;
	overflow: hidden;
	align-content: center;
	align-items: center;
	background: gray;
}
.story-display img{
	border-radius: 0;
	max-width: 100%;
}
.loading{
	height: 3px;
	width: 88%;

	position: absolute;
	top: 0;
	border-radius: 5px;
	background: #6A84E9;
}
.story-display .download{
	position: absolute;
	bottom: 40;
	right: 30;
	cursor: pointer;
}
.story-display .download i{
	font-size: 15px;
	margin-right: 15px;
	color: #fff;
	line-height: 35px;
	text-align: center;
	height: 35px;
	width: 35px;
	background: #6A84E9;
	border-radius: 50%;
}













